---
layout: default
---
			<script src="/script/lazyloading.js"></script>
			<script src="/script/clickableCards.js"></script>
			<div class="home-content pt-3">
				<div class="card">
					<div class="card-body">
					    <div class="card-text d-flex">
					    	<i class="align-self-center bi bi-emoji-smile-fill"></i>
					    	Jillian Zhong is a designer, programmer, and internet user based in New York, NY.
					    </div>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
					    <div class="card-text d-flex">
					    	<i class="align-self-center bi bi-pencil-fill"></i></i>
					    	<a href="mailto:jillianzhong@gmail.com">jillianzhong@gmail.com</a></div>
					</div>
				</div>
				<div class="card">
					<div class="card-body ">
					    <div class="card-text d-flex">
					    	<i class="align-self-center bi bi-file-earmark-text-fill"></i>
							<ul class="home-link-list">
								<li><a href="https://github.com/jirrian" target="_blank">Github</a></li>
								<li><a href="https://blog.jzhong.today/" target="_blank">ITP Blog</a></li>
					    	</ul>
					    </div>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
					    <div class="card-text d-flex">
					    	<i class="align-self-center bi bi-heart-fill"></i>
					    	<ul class="home-link-list">
								<a href="https://shop.jzhong.today" target="_blank">jzhong</a><br />
								<a href="https://virtualgoodsdealer.com" target="_blank">virtualgoodsdealer</a>
					    	</ul>
					    </div>
					</div>
				</div>
			</div>
