---
layout: default
---

<div class="content pt-3">
	<script src="/script/lazyloading.js"></script>
	{% assign assets = "/assets/portfolio_images/" %}
	{% assign assets_placeholder = "/assets/portfolio_images/placeholders/placeholder_" %}
	{% assign title_slug = page.title | slugify %}

	<div class="work-title">
		<span class="fw-bold">{{ site.data.works[title_slug]['name'] }}</span>
		<span>({{ site.data.works[title_slug]['year']['end'] }})</span>
	</div>
	<div class="fw-light">{{ site.data.works[title_slug]['description']['medium'] }}</div>
	<div class="">{{ site.data.works[title_slug]['description']['concept'] }}</div>

	{% assign work_images_array = site.data.works[title_slug]['photos'] %}
	{% if work_images_array != nil %}
		<div class="work-images">
		{% for photo in work_images_array %}
			{% assign source = assets | append: photo %}
			{% assign placeholder = assets_placeholder | append: photo %}
			<img src="{{ placeholder }}" data-src="{{ source }}" class="img-fluid lazy w-100" alt="{{ work[1]['name'] }}">
		{% endfor %}
		</div>
	{% endif %}

	{% assign work_videolink = site.data.works[title_slug]['links']['video'] %}
	{% if work_videolink != nil %}
		<div class="work-video">
			{% include youtube-video-embed.html src=work_videolink %}
		</div>
	{% endif %}

	{% assign work_bloglink_array = site.data.works[title_slug]['links']['blog'] %}
	{% if work_bloglink_array != nil %}
		<p>Documentation:</p>
		<ul id="work-links">

		{% for link in work_bloglink_array %}
			<li>
				<a class="linkload" href="{{ link }}" target="_blank">Documentation Link</a>
			</li>
		{% endfor %}
		</ul>
		<script src="/script/createBlogListItem.js"></script>
	{% endif %}
</div>