---
layout: default
---

<script src="/script/lazyloading.js"></script>
<script src="/script/clickableCards.js"></script>
<div class="grid-content pt-3">
		<div class='row'>
			{% assign assets = "/assets/portfolio_images/" %}
			{% assign assets_placeholder = "/assets/portfolio_images/placeholders/placeholder_" %}
			{% assign works = site.data.works %}
			{% for work in works %}
				{% if work[1]['mediums'] contains page.medium %}
				<div class='col-'>
					<div class="card hvr-grow">
						{% if work[1]['preview'] != nil %}
							{% assign preview_fileext = work[1]['preview'] | slice: -3, 3 %}
							{% if preview_fileext == "mp4" %}
								{% assign poster = assets_placeholder | append: work[1]['preview'] %}
								{% assign source = assets | append: work[1]['preview'] %}
								{% include video-embed.html poster=poster src=source %}
							{% else %}
								{% assign source = assets | append: work[1]['preview'] %}
								{% assign placeholder = assets_placeholder | append: work[1]['preview'] %}
								<div class="card-work-image">
									<img src="{{ placeholder }}" data-src="{{ source }}" class="w-100 lazy" alt="{{ work[1]['name'] }}">
								</div>
							{% endif %}
						{% elsif work[1]['photos'][0] != nil %}
								{% assign source = assets | append: work[1]['photos'][0] %}
								{% assign placeholder = assets_placeholder | append: work[1]['photos'][0] %}
								<div class="card-work-image">
									<img src="{{ placeholder }}" data-src="{{ source }}" class="w-100 lazy" alt="{{ work[1]['name'] }}">
								</div>
						{% endif %}
						<div class="card-body mt-2">
						    <span class="card-title">
						    	<a class="main-link" href="/works/{{ work[0] }}">
							    	<span class="fw-bold">{{ work[1]['name'] }}</span>
							   		<span>({{ work[1]['year']['end'] }})</span>
							   	</a>
						   	</span>
						    <div class="card-subtitle fw-light text-wrap">{{ work[1]['description']['medium'] }}</div>
						</div>
					</div>
				</div>
				{% endif %}
			{% endfor %}
	</div>
</div>