---
layout: default
---

<div class="content pt-3">
	<script src="/script/lazyloading.js"></script>
	{% assign assets = "/assets/portfolio_images/" %}
	{% assign assets_placeholder = "/assets/portfolio_images/placeholders/placeholder_" %}
	{% assign title_slug = page.permalink | split: "/" | last %}
	<div class="card">
		<div class="card-body">
		<div class="card-title work-title">
			<span class="fw-bold">{{ site.data.works[title_slug]['name'] }}</span>
			<span>({{ site.data.works[title_slug]['year']['end'] }})</span>
		</div>
		<div class="card-subtitle work-medium">{{ site.data.works[title_slug]['description']['medium'] }}</div>
		{% if site.data.works[title_slug]['description']['concept'] != nil %}
			<div class="card-text work-concept">{{ site.data.works[title_slug]['description']['concept'] }}</div>
		{% endif %}
		</div>
	</div>

	{% assign work_images_array = site.data.works[title_slug]['photos'] %}
	{% if work_images_array != nil %}
		<div class="work-images">
		{% for photo in work_images_array %}
			{% assign source = assets | append: photo %}
			{% assign placeholder = assets_placeholder | append: photo %}
			<img src="{{ placeholder }}" data-src="{{ source }}" class="img-fluid lazy w-100" alt="{{ work[1]['name'] }}">
		{% endfor %}
		</div>
	{% endif %}

	{% assign work_video = site.data.works[title_slug]['links']['video'] %}
	{% if work_video != nil %}
		<div class="work-video">
			{% assign work_video_link = work_video['embed-link'] %}
			{% assign work_video_ratio = work_video['ratio'] %}
			{% assign work_video_host = work_video['host'] %}
			{% include youtube-video-embed.html src=work_video_link ratio=work_video_ratio host=work_video_host %}
		</div>
	{% endif %}

	{% assign work_demolink = site.data.works[title_slug]['links']['demo'] %}
	{% if work_demolink != nil %}
  		<a class="btn btn-outline-primary work-demolink" href="{{ work_demolink }}" target="_blank" role="button">View Live</a>
	{% endif %}

	{% assign work_bloglink_array = site.data.works[title_slug]['links']['blog'] %}
	{% if work_bloglink_array != nil %}
		<div class="card">
			<div class="card-body">
				<div class="fw-bold">Documentation:</div>
				<div class="card-text">
					<ul class="work-links">
					{% for link in work_bloglink_array %}
						<li>
							<a class="linkload" href="{{ link }}" target="_blank">Documentation Link</a>
						</li>
					{% endfor %}
					</ul>
					<script src="/script/createBlogListItem.js"></script>
				</div>
			</div>
		</div>
	{% endif %}
</div>